.onlybottom {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 2px solid #000000 !important;
    outline: 0;
    margin-top: -12px;
}

.removall {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #F4F5F7;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    outline: 0;
    margin-top: -12px;
}

.form-register {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 2px solid #000000 !important;
    outline: 0;
}

.form-register:disabled {
    opacity: 0.6;
    background-color: #f8f8f8;
    color: #6c757d;
    cursor: not-allowed;
}

/* Opsional: Jika Anda ingin mengubah warna border bawah saat disabled */
.form-register:disabled {
    border-bottom-color: #cccccc !important;
}

.register-label{
    font-weight: bolder;
    font-size: 1rem;
    color: black;
    margin-bottom: 5px;
}

.form-register.datepicker {
    background: url('http://jqueryui.com/resources/demos/datepicker/images/calendar.gif') no-repeat right 10px center;
    padding-right: 40px; /* Adjust padding to make room for the icon */
    background-size: 20px 20px; /* Resize the icon if needed */
}

.ui-datepicker-calendar {
    display: none;
 }
 .ui-datepicker-month {
    display: none;
 }
 .ui-datepicker-next,.ui-datepicker-prev {
   display:none;
 }

 #question-numbers {
    display: flex;
    flex-wrap: wrap;
}

.question-box {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    font-weight: bold;
}

.question-box.answered {
    background-color: #d4edda; /* Hijau muda */
    color: #155724; /* Warna teks hijau */
}

.question-box:hover {
    background-color: #e2e6ea;
}

#timer {
    font-size: 1.5rem;
    font-weight: bold;
}